// Specific CSS for your home-page

body {
  background-color: #F4F4F4;
  font-family: "Verdana";
}

// Wrapper

.wrapper {
  background-color: #F4F4F4;
}


// Value Proposition

.value-proposition {
}

.value-proposition-card {
  width: 300px;
  height: 300px;
}

.value-proposition-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
    h2 {
      font-size: 24px;
    }
  height: 150px;
}

.value-proposition-list{
  display:flex;
  justify-content:space-around;
  text-align:center;
}

.value-proposition-card {
  height: 300px;

}
.value-proposition-top-section {
  text-align: center;
    h3 {
      font-size: 20px;
    }
}

.value-proposition-avatar {
  border-radius: 50px;
  height: 70px;
}

.value-proposition-bottom-section {
  text-align: center;
    p {
      font-size: 14px;
    }
}


// Testimonials

.wrapper-testimonials {
  background-color: #FFFFFF;
}

.testimonials {
}

.testimonials-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
    h2 {
      font-size: 24px;
    }
  height: 150px;
}

.testimonials-list{
  display:flex;
  justify-content:space-around;
}
