
// Book Details

.book-details-container {
  display: flex;
  justify-content: space-around;
}

.book-details {

}

.book-details-top-section {

}

.book-details-title {
  h1 {

  }
}

.book-details-category {
  h3 {

  }
}

.book-details-rating {

}

.book-details-bottom-section {

}

.book-details-summary {

}


.book-owner-details {
  owner-avatar {

  }

  owner-name {

  }

  owner-bio {

  }
}

// Booking Details


.booking-details {
  flex: 0 0 450px;
}
