#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  background-image: url("https://i.pinimg.com/originals/69/8d/28/698d28ecd47c80b14061ac0e8ca814c9.jpg");
  background-size: cover;
}
.content {
  display: flex;
}
