<wrapper>
  <div class="container">
    <div class="row">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="banner-content">
          <h1>BookaBook</h1>
          <p>Find books to rent around you</p>
          <a class="btn btn-primary btn-lg">Book it</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="value-proposition">
        <div class="value-proposition-card">
            <div class="top-section">

            </div>
            <div class="bottom-section">

            </div>
        </div>
        <div class="value-proposition-card">
            <div class="top-section">

            </div>
            <div class="bottom-section">

            </div>
        </div>
        <div class="value-proposition-card">
            <div class="top-section">

            </div>
            <div class="bottom-section">

            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="fake-map">

      </div>
    </div>
    <div class="row">
      <div class="testimonials">
        <div class="testimonial-card">
            <figure class="snip1192">
              <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
              <div class="author">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                <h5>Pelican Steve <span> LittleSnippets</span></h5>
              </div>
        </div>
        <div class="testimonial-card">
            <figure class="snip1192">
              <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
              <div class="author">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                <h5>Pelican Steve <span> LittleSnippets</span></h5>
              </div>
        </div>
        <div class="testimonial-card">
            <figure class="snip1192">
              <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
              <div class="author">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                <h5>Pelican Steve <span> LittleSnippets</span></h5>
              </div>
        </div>
      </div>
    </div>
  </div>
</wrapper>
