<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "banner.jpg" %>');">
        <div class="banner-content">
          <h1>BookaBook</h1>
          <p>Find books to rent around you</p>
          <a class="btn btn-primary btn-lg">Book it</a>
        </div>
      </div>
<div class="wrapper-value-proposition">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="value-proposition">
              <div class="value-proposition-title">
                <h2>Value Proposition</h2>
              </div>
              <div class="value-proposition-list">
                  <div class="value-proposition-card">
                      <div class="value-proposition-top-section">
                        <div class="value-proposition-card-image">
                          <%= image_tag "logo.png", height: 80 %>
                        </div>
                        <div class="value-proposition-card-title">
                          <h3>Easy to navigate</h3>
                        </div>
                      </div>
                      <div class="value-proposition-bottom-section">
                          <p>Bookabook allows you to find book owners near your current location easily.</p>
                      </div>
                  </div>
                  <div class="value-proposition-card">
                      <div class="value-proposition-top-section">
                        <div class="value-proposition-card-image">
                          <%= image_tag "logo.png", height: 80 %>
                        </div>
                        <div class="value-proposition-card-title">
                          <h3>Easy to navigate</h3>
                        </div>
                      </div>
                      <div class="value-proposition-bottom-section">
                          <p>Bookabook allows you to find book owners near your current location easily.</p>
                      </div>
                    </div>
                  <div class="value-proposition-card">
                      <div class="value-proposition-top-section">
                       <div class="value-proposition-card-image">
                        <%= image_tag "logo.png", height: 80 %>
                       <div class="value-proposition-card-title">
                          <h3>Easy to navigate</h3>
                        </div>
                      </div>
                      <div class="value-proposition-bottom-section">
                          <p>Bookabook allows you to find book owners near your current location easily.</p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="wrapper-map">
  <div class="container-fluid">
    <div class="row">
      <div class="fake-map">

      </div>
    </div>
  </div>
</div>
<div class="wrapper-testimonials">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="testimonials">
            <div class="testimonials-title">
              <h2>Testimonials</h2>
            </div>
            <div class="testimonials-list">
                <div class="testimonial-card">
                    <figure class="snip1192">
                      <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                      <div class="author">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                        <h5>Pelican Steve <span> LittleSnippets</span></h5>
                      </div>
                </div>
                <div class="testimonial-card">
                    <figure class="snip1192">
                      <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                      <div class="author">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                        <h5>Pelican Steve <span> LittleSnippets</span></h5>
                      </div>
                </div>
                <div class="testimonial-card">
                    <figure class="snip1192">
                      <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                      <div class="author">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                        <h5>Pelican Steve <span> LittleSnippets</span></h5>
                      </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
