<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
      </div>
    </div>
    <div class="row">
      <div class="book-details-container">
        <div class="book-details">
          <div class="book-details-top-section"></div>
              <div class="book-details-title">
                <h1>This would be the Book Title</h1>
              </div>
              <div class="book-details-category">
                <h3>Book Category</h3>
              </div>
              <div class="book-details-rating">

              </div>
          </div>
          <div class="book-details-bottom-section">
            <div class="book-details-summary">
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
            </div>
          </div>
        </div>
        <div class="book-owner-details">
          <div class="owner-avatar">
            <%= image_tag "logo.png", height: 50 %>
          </div>
          <div class="owner-name">
            <p>Jerôme's book</p>
          </div>
          <div class="owner-bio">
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          </div>
        </div>
      </div>
      <div class="booking-details">

      </div>
    </div>
  </div>
</div>
