<div class="wrapper">
  <div class="containe-flow">
    <div class="row">
      <div class="book-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('')">
      </div>
    </div>
  </div>
  <div class="book-container container">

        <div class="book-details-container">
          <div class="row">
            <div class="book-box">

              <div class="book-details">
                <div class="book-details-top-section">
                    <div class="book-details-title">
                      <h1><%= @book.title %></h1>
                    </div>
                    <div class="book-details-category">
                      <h3>Fiction</h3>
                    </div>
                    <div class="book-details-rating">

                    </div>
                </div>
                <div class="book-details-bottom-section">
                  <div class="book-details-summary">
                    <p><%= @book.summary %></p>
                  </div>
                </div>
              </div>
              <div class="book-owner">
                <div class="owner-avatar-box">
                  <%= image_tag "logo.png", height: 50, class:"owner-avatar" %>
                  <div class="owner-name">
                      <p>Jerôme's book</p>
                  </div>
                </div>
                <div class="book-owner-details">
                    <div class="owner-bio">
                      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      <div class="book-booking">
        <div class="book-booking-form">

        </div>
        <div class="book-booking-box">
          <%= link_to 'Book it!', new_book_booking_path(@book), class: "btn btn-danger"%>
        </div>
      </div>

  </div>

</div>

