.index-title {
  margin-top: 20px;

  p {
    font-size: 18px;
    color: gray;
    margin-left: 30px;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
