.index-title {
  margin-top: 20px;
  p {
    font-size: 18px;
    color: gray;
  }
}

.search-box {
  height: 30px;
  width: 50%;
  border-color: black;
  border-radius: 3px;
  padding: 5px 10px;
  border-width: 1px;
}
