.book-banner {
  height: 500px;
  background-size: cover;
  background-repeat: no;
}

// Master Container

.book-container {
  display: flex;
}


// Book Box

.book-box {
  height: 800px;
}

// Book Details

.book-details-container {
  display: flex;
  justify-content: space-around;
  margin-right:40px;
}

.book-owner-title {
  font-size: 14px;
  padding: 10px 20px 0 10px;
}

.book-details {
  display: block;
  text-align: start;
  padding: 10px;
  margin-bottom: 40px;
}

.book-details-top-section {

}

.book-details-title {
  h1 {
    font-size: 44px;
  }
}

.book-category-price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 35px;
  align-items: center;
}

.book-details-category {
  h3 {
    font-size: 16px;
  }
}

.book-details-price {
  background-color: forestgreen;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.book-details-rating {

}

.book-details-bottom-section {

}

.book-details-summary {
  p {
    font-size: 16px;
    line-height: 35px;
  }
}

.book-owner {
  display: flex;
  padding: 10px;
  margin-right: 10px;
  .owner-avatar-box {
    display:flex;
    padding: 10px;
    flex-direction:column;

    .owner-name {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    }

    .owner-avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
  }

}

.book-owner-details {
  padding: 10px;
  .owner-bio {
    text-align: left;
    font-size: 14px;
    line-height: 30px;
  }
}

// Booking Details


.book-booking {
  display: flex;
  flex-direction: column;
  flex: 0 0 450px;
  margin-top: 113px;
  .book-booking-form {
    height: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between ;
    padding: 40px;
    //align-items: center;
  }
  .book-booking-box {
    display: flex;
    flex-direction: column;
  }
}

.flatpickr-input{
    max-width: 320px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    color: #444;
    padding: 0 0 0 11px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    margin-right: 0;
  }

.price_tag {
  background-color: #c4e3cb;
  border-radius: 10px;
  padding: 20px;
  margin:10px;
  text-align:center;
  color: white;
}



