.booking-card {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    perspective: 800px;
    transform-style: preserve-3d;
  .booking-box {
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    .book-picture {
      width: 60px;
      margin-right: 20px;
    }
    .book-title-category {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .book-title {
        font-size: 16px;
      }
      .book-category {
        font-size: 14px;
      }
    }
    .booking-details {
      display:flex;
      flex-direction: column;
      .booking-dates {
        display:block;
        margin-right: 5px;
        font-size: 10px;
       .booking-date-begin {
        margin-bottom: 5px;
          p {
            margin: 0px;
          }
       }
       .booking-date-end {
          p {
            margin: 0px;
          }
       }
      }
    }
    .booking-book-address {
        font-size: 10px;
        display: block;
        text-align: center;
      }
    .booking-book-address-map {
        width: 100px;
      }
    }
  .book-details-box {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    .book-summary {
      font-size: 12px;
      margin-right: 20px;
    }
    .book-user {
      font-size: 10px;
      display:flex;
      flex-direction: column;
      text-align: center;
      min-width: 80px;
    }
  }
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.booking-date {
  font-size: 12px;
}




.booking-box,
.book-details-box {
  $bg: rgba(white, 1);
  width: 100%;
  padding: 15px 30px;
  position: relative;
  background: $bg;

  .booking-card:hover & {
    background: darken($bg, 2%);
  }
}

.booking-box {
  //z-index: 10;
  transition: .3s ease all;
}


.book-details-box {
  max-height: 0;
  padding: 0;

  overflow: hidden;
  visibility: hidden;

  transform: rotateX(-180deg);
  transform-origin: top center;
  backface-visibility: hidden;
  transition: .3s transform ease;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    height: 1px;
    background: grey;
  }

  .booking-card:hover & {
    max-height: none;
    overflow: visible;
    visibility: visible;
    transform: rotateX(0deg);
  }
}

.book-details-box__inner {
  padding: 15px 30px;
}
