.booking-card {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    perspective: 800px;
    transform-style: preserve-3d;
    flex: 2 1 auto;

  .booking-box-tab {
    width: 100%;
    height: 25px;
    display:flex;
    justify-content: flex-end;
    .booking-box-status {
      width: 80px;
      background-color: #FFA1A6;
      font-size: 10px;
      text-align: center;

      border-radius: 5px 5px 0px 0px;
      padding:5px;
      a {
        color: white;
      }

    }
  }
  .booking-box {
    padding: 0px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    .book-picture {
      margin-right: 20px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      height: 155px;
      width: 20%;
    }
    .book-title-category {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 10px;
      .book-title {
        font-size: 14px;
        font-style: italic;
      }
      .book-category {
        font-size: 12px;
      }
    }
    .booking-details {
      display:flex;
      flex-direction: column;
      padding:10px;
      .booking-dates {
        display:block;
        margin-right: 5px;
        font-size: 10px;
       .booking-date-begin {
        margin-bottom: 5px;
          p {
            margin: 0px;
          }
       }
       .booking-date-end {
          p {
            margin: 0px;
          }
       }
      }
      .booking-review {
        margin-top: 10px;
        font-size: 14px;
        color: darkred;
      }
    }
    .booking-book-address {
        font-size: 10px;
        display: block;
        text-align: center;
        padding: 10px;
      }
    .booking-book-address-map {
        width: 100px;
        padding: 10px;
        text-align: center;
      }
    }
  .book-details-box {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-bottom: 20px;
    .book-summary {
      font-size: 12px;
      margin-right: 20px;
    }
    .book-user {
      font-size: 10px;
      display:flex;
      flex-direction: column;
      text-align: center;
      min-width: 80px;
    }
  }
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.booking-date {
  font-size: 12px;
}




.booking-box,
.book-details-box {
  $bg: rgba(white, 1);
  width: 100%;
  padding: 15px 30px;
  position: relative;
  background: $bg;

  .booking-card:hover & {
    background: darken($bg, 2%);
  }
}

.booking-box {
  //z-index: 10;
  transition: .9s ease all;
}


.book-details-box {
  max-height: 0;
  padding: 0;

  overflow: hidden;
  visibility: hidden;

  transform: rotateX(-180deg);
  transform-origin: top center;
  backface-visibility: hidden;
  transition: .9s ease all;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    height: 1px;
    // background: grey;
  }

  .booking-card:hover & {
    max-height: none;
    overflow: visible;
    visibility: visible;
    transform: rotateX(0deg);
  }
}

.book-details-box__inner {
  padding: 15px 30px;
}

#NotPaid {
  color: red;
  font-size: 12px;
}

#Paid {
  color: green;
  font-size: 12px;
}
