.cards-container {
  flex: auto;
  margin: 50px 30px 0 30px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 40px;
  &-top {
    width: 160px;
    display: flex;
    justify-content: flex-end;
  }
  &-category {
    font-size: 8px;
    font-weight: bolder;
    width: 80px;
    height: 25px;
    background-color: #FFA1A6;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding: 3px 0 0 3px;
  }
  &-body {
    width: 160px;
    height: 256px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  &-avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
  }
  &-price {
    position: absolute;
    background-color: $brand-danger;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 14px;
    small {
      font-size: 8px;
    }
  }
  &-footer {
    width: 160px;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 3em;
    h5 {
      margin: 0;
      font-size: 14px;
      text-align:center;
    }
  }
.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

}
