.query-box {
  border-bottom: 1px solid $gray-light;
  display:flex;
  align-items: center;

  i {
    color: #E4515B;
  }
  input{
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0px;
    &:focus {
      outline: none;
      border:none;
      box-shadow: none;
    }
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E4515B;
}
